USE [TopDesk577]
GO
/****** Object:  
	select Incident, [Type], Log_Date, Impact, Major_Incident, Category, SubCategory, Move_Date, ChangedFrom, ChangedTo, ChangedBy, CurrentOperator, ChangedFromOperatorID, ChangeToOperatorID, CurrentOperatorID
	from #Holding

END
